body {
    font-family: 'Lato', sans-serif;
    background-image: url(../Images/Background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#FFFCF8;
}

nav {
    width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    font-family: 'Abril Fatface', cursive;
    list-style-type: none;
    padding: 20px;
    font-size: 22px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color:#7A3324;
    transition:0.3s;
    text-decoration: none;
}

li a:visited {
    color:#7A3324;
    font-size: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 62px;
    color: #303030;
    line-height: 70px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #303030;
    line-height: 45px;
}

.intro {
    position:absolute;
    top: 20%;
    text-align: left;   
    width:60%;
    padding-left:50px;
}

footer {
    position: absolute; 
    bottom: 0px; 
    left: 0;
    width: 100%;
}

#social {
    display: table;
}
  
#social ul {
    text-align: center;
    padding-left: 0px;
    margin: 0 auto;
}
  
#social li {
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
}
  
.icon {
    width: 46px;
    height: 46px;
}
  
.icon .border {
    background: transparent;
    outline: none;
    color:#303030;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #303030;
    transition: all .2s ease-in-out;
  }
  
.icon .border:hover {
    background: transparent;
    border-color: #7A3324;
    color: #7A3324;
    transform: scale(1.2);
  }
  
.fa.fa-facebook, .fa.fa-instagram, .fa.fa-phone,.fa.fa-envelope-o {
    font-size: 25px;
}
 
#social ul li {
    transition: ease .3s;
}
  
#social ul:hover > li {
    opacity: 0.5;
}
  
#social ul:hover > li:hover {
    opacity: 1;
}

.copyright {
    font-family: 'Lato', sans-serif;
    font-size: xx-small;
    color: #303030;
}