body {
    font-family: 'Lato', sans-serif;
    background-image: url(../Images/Background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#FFFCF8;
}

nav {
    width: 100%;
    background-color:transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    font-family: 'Abril Fatface', cursive;
    list-style-type: none;
    padding: 20px;
    font-size: 22px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color:#7A3324;
    transition:0.3s;
    text-decoration: none;
}

li a:visited {
    color:#7A3324;
    font-size: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 62px;
    color: #7A3324;
    line-height: 70px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #303030;
    line-height: 45px;
}

.intro {
    position:absolute;
    top: 20%;
    text-align: left;   
    width:60%;
    padding-left:50px;
}

footer {
    padding-top:5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.fa-instagram-square, .fa-linkedin, .fa-envelope-square, .fa-phone-square-alt{
    color: #303030;
    font-size: 38px;
    transition: 0.3s;
    margin-right:15px;
}

.fa-instagram-square:hover, .fa-linkedin:hover,  .fa-envelope-square:hover, .fa-phone-square-alt:hover {
    color: #7A3324;
}

.copyright {
    color: #303030;
    font-size: xx-small;
    font-family: 'Lato', sans-serif;
    margin-top:5px;
}

@media only screen and (max-width: 550px) {
    .intro {
        text-align: left;   
        width:60%;
        padding-left:50px;
    }
}
    
